<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard: Update details</title>
    <link rel="stylesheet" href="./css/index.css" />
    <link rel="stylesheet" href="./css/updateStudent.css" />
</head>

<body>
    <div class="main">

        <%- include('template/side-panel'); %>
            <%- include('template/navbar') %>
                <div class="main-panel">

                    <h3>Update Student Details</h3>
                    <div class="current">
                        <p class="head">Current details:</p>
                        <div>
                            <label for="first-name">First Name:</label>
                            <input type="text" name="" id="first-name">
                        </div>
                        <div>
                            <label for="last-name">Last Name:</label>
                            <input type="text" name="" id="last-name">
                        </div>
                        <div>
                            <label for="father-name">Father's name</label>
                            <input type="text" name="" id="father-name">
                        </div>
                    </div>

                    <div class="for-update">
                        <label for="update">Detail to be updated</label>
                        <select name="to-update" id="update">
                            <option data-name="" value="name.first">First Name</option>
                            <option data-name="" value="name.last">Last Name</option>
                            <option data-name="" value="dob">Date of Birth</option>
                            <option data-name="" value="father">Father's Name</option>
                            <option data-name="" value="class">Class</option>
                            <option data-name="" value="admissionDate">Admission Date</option>
                            <option data-name="" value="roll no">Roll No.</option>
                            <option data-name="" value="category">Category</option>
                            <option data-name="" value="gender">Gender</option>
                            <option data-name="" value="paymentStatus">Payment Status</option>
                        </select>

                        <div id="other-details">
                            <label id="label-updated" for="updated">Update </label>
                            <input type="text" name="updated" id="updated">
                        </div>
                        <div id="gender" class="hidden">
                            <span>Update Gender:</span>
                            <input type="radio" name="gender" id="male" value="Male">
                            <label for="male">Male</label>
                            <input type="radio" name="gender" id="female" value="Female">
                            <label for="female">Female</label>
                        </div>
                        <div id="category" class="hidden">
                            <span>Update Category:</span>
                            <input type="radio" name="Category" id="General" value="General">
                            <label for="General">General</label>
                            <input type="radio" name="Category" id="OBC" value="OBC">
                            <label for="OBC">OBC</label>
                            <input type="radio" name="Category" id="scst" value="SC/ST">
                            <label for="scst">SC/ST</label>
                        </div>
                        <div id="paymentStatus" class="hidden">
                            <span>Update Payment Status:</span>
                            <input type="radio" name="paymentStatus" id="paid" value="Paid">
                            <label for="paid">Paid</label>
                            <input type="radio" name="paymentStatus" id="notPaid" value="Not Paid">
                            <label for="notPaid">Not Paid</label>
                        </div>
                    </div>
                    <button onclick="update('Students')" class="submit">Submit</button>
                </div>
    </div>
    </div>
</body>
<script src="updateStudent.js"></script>

</html>