@import url(./index.css);
.list-container p{
    padding: 0 10px;
    font-family: sans-serif;
    line-height: 2em;
    margin-bottom: .2em;
    background-color: var(--pureWhite);
    border-left: 5px solid var(--purple);
}
.list-container a{
    text-decoration: none;
    color: inherit;
}
.main-panel h3{
    position: relative;
    display: inline-block;
    margin-top: 1em;
    font-size:2em;
    font-family: sans-serif;
    &::after{
        content:'';
        position: absolute;
        bottom: 0;
        left:0;
        width: calc(100% + 2em);
        height:3px;
        background-color: var(--purple);
    }
}