:root {
  --pureWhite: #fefefe;
  --white: #eef0ef;
  --purple: #4d72ed;
  --yellow: #dcba20;
  --cyan: #27d3d6;
  --green: #20ce3d;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main {
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 3em 1fr;
}

.side-panel {
  grid-row: 1 / span 2;
  padding: 20px;
  background-color: var(--purple);
  position: sticky;
  top: 0;
  height: 100vh;

  & a {
    text-decoration: none;
    color: inherit;
  }
}
#checkbox{
  display: none;
}
.school-name {
  color: var(--pureWhite);
  padding: 5px 2em;
}

li {
  list-style: none;
}

.side-panel .section {
  line-height: 2em;
  margin-top: 2em;
  border-bottom: 1px solid #c4c4c4;
}

.side-panel .section h3 {
  cursor: default;
  font-size: 1em;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: rgba(211, 211, 211, 0.308);
}

.side-panel .section li {
  line-height: normal;
  margin-bottom: 0.8em;
  padding: 0 10px;
  width: max-content;
  color: #c4c4c4;
  cursor: pointer;
}

.section li img {
  margin-right: 5px;
}

.side-panel .first li {
  color: var(--pureWhite);
}

.navbar {
  margin: 0;
  padding: 0 2.5em;
  z-index: 1;
  height: 3em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 1px 4px 20px 0px grey;
  background-color: var(--pureWhite);
  position: sticky;
  top: 0;
}

.searchbar {
  display: flex;

  &>input,
  &>input:focus {
    font-size: 1em;
    border: 2px solid var(--purple);
    outline: none;
  }
}

.search-icon {
  margin: auto;
  cursor: pointer;
  background-color: var(--purple);
  width: 2em;
  height: 2em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-icon img {
  max-width: 75%;
}

.account {
  padding: 0 0 0 4px;
  background-color: grey;
  border-radius: 50px;
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.main-panel {
  width: 100%;
  padding: 0 2.5em;
  background-color: #efefef;
}

.main-panel>* {
  margin-top: 2em;
}

.main-section {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 3em;
  margin-bottom: 1em;
}

.dashboard {
  font-family: sans-serif;
  font-size: 1.5em;
  grid-column: 1 / span 4;
}

.events,
.notice {
  grid-column: span 2;
}

.cards {
  padding: 0.7em 0;
  display: flex;
  width: 100%;
  justify-content: space-around;
  border-bottom: 2px solid var(--purple);
  border-radius: 5px;
  background-color: #fefefe;
}

.card-content {
  margin: auto 0;
}

.card-content>.content-p1 {
  color: var(--purple);
  font-family: sans-serif;
  font-size: 0.9em;
  text-transform: uppercase;
}

.card-content>.content-p2 {
  text-align: center;
  font-family: sans-serif;
  font-size: 1.7em;
}

.card-icon {
  width: 4em;
}

.main-section li:nth-child(3) {
  & .content-p1 {
    color: var(--green);
  }

  border-bottom: 2px solid var(--green);
}

.main-section li:nth-child(4) {
  & .content-p1 {
    color: var(--cyan);
  }

  border-bottom: 2px solid var(--cyan);
}

.main-section li:nth-child(5) {
  & .content-p1 {
    color: var(--yellow);
  }

  border-bottom: 2px solid var(--yellow);
}

.notice {
  background-color: #fefefe;
  border-radius: 5px;
  box-shadow: 0 2px 5px grey;
  line-height: normal;
}

.notice .heading {
  line-height: 2em;
  padding: 0 1em;
  border-bottom: 1px solid rgb(209, 209, 209);
  font-size: 1.2em;
  color: var(--purple);
  font-family: sans-serif;
  font-weight: 500;
  background-color: #efefef;
}

.notice-section {
  padding: 0 1em;
  line-height: 2em;
  border-bottom: 1px solid rgb(209, 209, 209);
  display: flex;
  justify-content: space-between;
  font-family: sans-serif;
  font-size: 0.9em;
}

@media screen and (max-width:780px) {
  body{
    background-color: var(--white);
  }
  .navbar ,.sidebar{
    display: none
  }

  .main {
    display: block;
  }

  .side-panel {
    height: auto;
    padding:1px;
    position: relative;
    z-index: 10;

  }
  .side-panel .section{
    padding: 0 10px;
  }
  .side-panel .school-name {
    text-align: center;
    margin:.5em 0;
  }

  .side-panel:has(#checkbox:checked) .sidebar {
    display: block;
  }

  .sidebar {
    position: absolute;
    width: 100%;
    left: 0;
    background-color: var(--purple);

  }

  .toggle {
    position: absolute;
    width: 2em;
    height: 2px;
    background-color: var(--pureWhite);
    top: 50%;
    left: 20px;
  }

  .toggle::after {
    content: "";
    position: absolute;
    width: 2em;
    height: 2px;
    background-color: var(--pureWhite);
    top:7px;
  }
  .toggle::before {
    content: "";
    position: absolute;
    width: 2em;
    height: 2px;
    background-color: var(--pureWhite);
    bottom:7px;
  }
  .main-panel{
    padding: 0 .5em;
  }
  .main-section{
    display: block;
    margin-top: 0;
    & *{
      margin-bottom: .5em;
    }
  }
  .dashboard{text-align: center;}
  .cards{flex-direction: row-reverse;border-radius:0;}
}
input, select {
  margin-bottom: 12px;
  border-radius: 8px;
  padding: 10px;
  border: 1px solid #ccc;
  font-size: 1em;
}
button {
  padding: 12px;
  font-size: 16px;
}