<nav class="navbar">
        <div class="searchbar">
            <input placeholder="Search for.." id="searchbar" type="text" />
            <div class="search-icon">
                <img style="width:100%" src="/img/Search.svg" alt="">
            </div>
        </div>
        <div class="account">A</div>
      </nav>