<div class="side-panel">
                <input type="checkbox" name="checkbox" id="checkbox">
                <label  for="checkbox"><span class="toggle"></span></label>
                <h2 class="school-name">K.L.Memorial</h2>
                <div class="sidebar">
                    <div class="section first">
                        <ul>
                            <li>
                                <img style="width:1em;" src="/img/dashboard.svg" alt="">
                                <a href="/">Dashboard</a>
                            </li>
                            <li>
                                <img style="width:1em;" src="/img/internet.svg" alt="">
                                Visit Site
                            </li>
                        </ul>
                    </div>
                    <div class="section STUDENT">
                        <h3>STUDENT</h3>
                        <ul>
                            <li>
                                <img style="width:1em;" src="/img/dashboard.svg" alt=""><a
                                    href="/Admission">Admission</a>
                            </li>
                            <li>
                                <img style="width:1em;" src="/img/dashboard.svg" alt=""><a
                                    href="/Update_Student">Update</a>
                            </li>
                            <li><img style="width:1em;" src="/img/dashboard.svg" alt=""><a href="/All_Students">All
                                    Students</a></li>
                        </ul>
                    </div>
                    <div class="section TEACHER">
                        <h3>TEACHER</h3>
                        <ul>
                            <li>
                                <img style="width:1em;" src="/img/dashboard.svg" alt=""><a href="/Add_Teacher">New
                                    Teacher</a>
                            </li>
                            <li>
                                <img style="width:1em;" src="/img/dashboard.svg" alt=""><a
                                    href="/Update_Teacher">Update</a>
                            </li>
                            <li>
                                <img style="width:1em;" src="/img/dashboard.svg" alt=""><a href="/All_Teachers">All
                                    Teachers</a>
                            </li>
                        </ul>
                    </div>
                    <div class="section DEPARTMENTS">
                        <h3>DEPARTMENTS</h3>
                        <ul>
                            <li>
                                <img style="width:1em;" src="/img/dashboard.svg" alt=""><a
                                    href="Accounts">Accounts</a>
                            </li>
                            <li>
                                <img style="width:1em;" src="/img/dashboard.svg" alt="">New Department
                            </li>
                            <li>
                                <img style="width:1em;" src="/img/dashboard.svg" alt="">Academic Sessions
                            </li>
                            <li>
                                <img style="width:1em;" src="/img/dashboard.svg" alt="">Combinations
                            </li>
                            <li>
                                <img style="width:1em;" src="/img/dashboard.svg" alt="">Subject Set
                            </li>
                        </ul>
                    </div>
                </div>
            </div>